<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지하철 노선별 이용객 사이트</title>
</head>
<body>
  <button type="button" class="btn btn-light"><a href="/">본 화면으로 돌아오기</a></button>
  <h2>지하철 정보 모음</h2>
  <h4>차례</h4>
    <a href = "https://data.seoul.go.kr/dataList/OA-12914/S/1/datasetView.do">더 정확한 정보들</a>
    <br>
    <a href="http://www.naver.com">직접 검색</a>
    <p>
      <img src = "picture.png" width = "500" height = "400">
    </p>
    {% block content %}{% endblock %}
</body>
</html>